.cardWrap {
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.cardContent {
  margin-left: 20px;
}
.cardTitle {
  font-weight: bold;
  font-size: calc(1.375rem);
  color: #A0937D;
  transition: all .2s;
}
.cardTitle:hover {
  transform: scale(1.1);
  color: var(--text-hover-color);
}
.cardDesc {
  margin-top: 10px;
  font-size: 1rem;
  color: #A0937D;
}