.main {
  background-color: #FFC0CB;
  display: inline-block;
  border-radius: 8px;
  height: 32px;
  transform: scale(1);
  transition: all .4s ease-in-out;
}
.name {
  height: 100%;
  color: #ffffff;
  padding: 3px 12px;
 
}
.active {
  background-color: #fd78ce;
}
.main:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}
