.blogWrap {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFCD;
}
.navigation {
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 10px 0 10px 10%;
  width: 100%;
}
.main {
  background-color: #FFFFCD;
  width: 60%;
  margin: 20px auto;
  display: grid;
  row-gap: 64px;
  column-gap: 96px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "list categories"
    "list popular";
}
.list {
  grid-area: list;
}
.categories {
  display: none;
  grid-area: categories;
}
.popular {
  display: none;
  grid-area: popular;
}
.title {
  color: #999;
  font-weight: bold;
  padding: 30px 0;
  font-size: calc(1.375rem);
  animation: titleAnimation 1s;
}
.popularList {
  list-style: none;
}
.popularBlog {
  cursor: pointer;
  font-size: calc(1.375rem);
  padding-bottom: 20px;
  animation: rightEnter 1s;
  transform-origin: top left;
  transform: scale(1);
  transition: all .2s;
}
.popularBlog:hover {
  transform: scale(1.1);
  color: var(--text-hover-color);
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tag {
  margin-right: 10px;
  margin-bottom: 10px;
}
.tags {
  position: relative;
  animation: rightEnter 1s;
}

@keyframes rightEnter {
  0% {
    left: 40px;
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    left: 0px;
    transform: scale(1);
    opacity: 100%;
  }
}

.card {
  position: relative;
  animation: blogAnimation 1s;
}

@keyframes blogAnimation {
  0% {
    top: 40px;
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    top: 0px;
    transform: scale(1);
    opacity: 100%;
  }
}

@media (min-width: 1084px) {
  .categories, .popular {
    display: block;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 90%;
    margin: 20px auto;
    display: flex;
  }
}

.toTop {
  cursor: pointer;
  position: fixed;
  right: 10%;
  bottom: 10vh;
}
.arrow {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom: 15px solid #fafafa;
  
}
.toTop:hover .arrow {
  animation: rotateArrow 1s ease-in-out;
  
}
@keyframes rotateArrow {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
