.detailWraper {
  position: relative;
  min-height: 100vh;
  background-color: #FFFFCD;
  animation: inter 1s ease-in-out;
}
@keyframes inter {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  background-color: #87CEEB;
}
.navigation {
  background-color: #87CEEB;
  padding: 10px 0 10px 10%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
}
.smallNav {
  display: none;
  position: fixed;
  z-index: 99;
  right: 0;
  height: 100%;
  padding: 5% 5% 0 0;
  top: 0;
}
.titleWraper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 40px 36px 40px;
}
.title {
  font-weight: 500;
  font-size: calc(2rem);
  padding-top: 116px;
  margin-bottom: 20px;
  color: #666;
}
.desc {
  font-size: calc(2rem);
  padding-top: 0;
  color: #666;
}
.main {
  padding: 100px 40px 36px 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
  color: #999;
}
.catalogueTitle {
  margin-bottom: 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #999;
}
.catalogueItem {
  color: #999;
  font-size: 1rem;
  margin-bottom: 10px;
}
.catalogueItemLink {
  text-decoration: none;
  color: #999;
}
.catalogueItemLink:hover {
  color: #87CEEB;
}
.menu {
  display: block;
  width: 30%;
  padding-left: 50px;
  position: sticky;
  top: 148px;
  max-height: calc(100vh - 148px);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .navigation {
    display: none;
  }
  .smallNav {
    display: block;
  }
}

.toTop {
  cursor: pointer;
  position: fixed;
  right: 10%;
  bottom: 10vh;
}
.arrow {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom: 15px solid #fafafa;
  
}
.toTop:hover .arrow {
  animation: rotateArrow 1s ease-in-out;
  
}
@keyframes rotateArrow {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}