html,
body,
ul,
li,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
::-webkit-scrollbar {
  width: 0;
}

/**
解决document.body.clientHeight为0问题
**/
html,body{ height:100% }

html {
  scroll-behavior: smooth;
}

:root {
  --text-hover-color: #666;
}