html,
body,
ul,
li,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: #666;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size:100%; }

::-webkit-scrollbar {
  width: 0;
}
ul {
  list-style: none;
}

/**
解决document.body.clientHeight为0问题
**/
html,body{ height:100% }

html {
  scroll-behavior: smooth;
}

.title-anchor {
  font-size: calc(1.5rem);
  color: #666;
  margin-bottom: 46px;
}

.detailed-content{
  padding: 1.3rem;
  font-size: 1rem;
}
pre{
  display: block;
  background-color:#f3f3f3;
   padding: .5rem !important;
   overflow-y: auto;
   font-weight: 300;
   font-family: Menlo, monospace;
   border-radius: .3rem;
}
pre{
  background-color: #283646 !important;
}
pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  display: inline-block ;
  background-color:#f3f3f3;
  border:1px solid #fdb9cc;
  border-radius:3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color:#4f4f4f;
  margin: 0px 3px;

}

.active{
  color:rgb(30, 144, 255) !important;
}
.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);

}
.article-menu{
  font-size:12px;
}
iframe{
  height: 34rem;
}
.detailed-content  img{
  width: 100%;
  border:1px solid #f3f3f3;
}
.title-level3{
  display: none !important;
}
.ant-anchor-link-title{
  font-size: 12px !important;
}
.ant-anchor-wrapper{
  padding: 5px !important;
}

:root {
  --text-hover-color: #4bb6e0;
}

